In [190]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import numpy as np

In [191]:
df = pd.read_csv('data/loan.csv', error_bad_lines=False, index_col=False, dtype='unicode')

/Users/kunal/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3418: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [192]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,37258,38642,39717,39717,39717,39717,39717,39717,39717,26777,39717,39706,39717,39717,39717,39717,39717,39717,14035,2786,39717,39717,39717,39667,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,39646,39717,1140,39715,39661,0,39717,39717,0,0,0,39717,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39661,39717,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,39020,39678,0,0,0,0
unique,39717,39717,885,1041,8205,2,371,15383,7,35,28820,11,5,5318,3,55,3,1,39717,26527,14,19615,823,50,2868,11,526,9,95,111,40,5,21711,1089,82,1,1137,1138,37850,37518,7976,35148,1356,4040,2616,101,34930,2,106,1,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,1,0,0,0,0
top,1077501,1296599,10000,10000,5000,36 months,10.99%,311.11,B,B3,US Army,10+ years,RENT,60000,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,,debt_consolidation,Debt Consolidation,100xx,CA,0,0,Nov-98,0,0,0,7,0,0,0%,16,f,0,0,11196.56943,0,10000,0,0,0,0,May-16,0,Jun-16,May-16,0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
freq,1,1,2833,2741,1309,29096,956,68,12020,2917,134,8879,18899,1505,16921,2260,32950,39717,1,210,18641,2184,597,7099,183,35405,370,19300,443,670,4018,37601,994,977,1471,39717,38577,38577,26,165,2293,71,37671,35499,35935,1256,74,1125,10308,39661,NaN,39717,39717,NaN,NaN,NaN,39717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39661,39717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37339,39678,NaN,NaN,NaN,NaN

In [193]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)

In [194]:
pd.set_option('display.max_rows', None)
missing_value_df.head(120)

,column_name,percent_missing
id,id,0.000000
earliest_cr_line,earliest_cr_line,0.000000
inq_last_6mths,inq_last_6mths,0.000000
open_acc,open_acc,0.000000
pub_rec,pub_rec,0.000000
revol_bal,revol_bal,0.000000
total_acc,total_acc,0.000000
initial_list_status,initial_list_status,0.000000
out_prncp,out_prncp,0.000000
out_prncp_inv,out_prncp_inv,0.000000
delinq_2yrs,delinq_2yrs,0.000000
total_pymnt,total_pymnt,0.000000
total_rec_int,total_rec_int,0.000000
total_rec_late_fee,total_rec_late_fee,0.000000
recoveries,recoveries,0.000000
collection_recovery_fee,collection_recovery_fee,0.000000
last_pymnt_amnt,last_pymnt_amnt,0.000000
policy_code,policy_code,0.000000
application_type,application_type,0.000000
acc_now_delinq,acc_now_delinq,0.000000
delinq_amnt,delinq_amnt,0.000000
total_pymnt_inv,total_pymnt_inv,0.000000
dti,dti,0.000000
total_rec_prncp,total_rec_prncp,0.000000
zip_code,zip_code,0.000000
member_id,member_id,0.000000
loan_amnt,loan_amnt,0.000000
addr_state,addr_state,0.000000
funded_amnt_inv,funded_amnt_inv,0.000000
term,term,0.000000
int_rate,int_rate,0.000000
installment,installment,0.000000
grade,grade,0.000000
sub_grade,sub_grade,0.000000
home_ownership,home_ownership,0.000000
annual_inc,annual_inc,0.000000
funded_amnt,funded_amnt,0.000000
issue_d,issue_d,0.000000
purpose,purpose,0.000000
verification_status,verification_status,0.000000
loan_status,loan_status,0.000000
pymnt_plan,pymnt_plan,0.000000
url,url,0.000000
last_credit_pull_d,last_credit_pull_d,0.005036
title,title,0.027696
tax_liens,tax_liens,0.098195
revol_util,revol_util,0.125891
collections_12_mths_ex_med,collections_12_mths_ex_med,0.140998
chargeoff_within_12_mths,chargeoff_within_12_mths,0.140998
last_pymnt_d,last_pymnt_d,0.178765
pub_rec_bankruptcies,pub_rec_bankruptcies,1.754916
emp_length,emp_length,2.706650
emp_title,emp_title,6.191303
desc,desc,32.580507
mths_since_last_delinq,mths_since_last_delinq,64.662487
mths_since_last_record,mths_since_last_record,92.985372
next_pymnt_d,next_pymnt_d,97.129693
num_bc_sats,num_bc_sats,100.000000
mths_since_recent_bc,mths_since_recent_bc,100.000000
mths_since_recent_bc_dlq,mths_since_recent_bc_dlq,100.000000
mths_since_recent_inq,mths_since_recent_inq,100.000000
mths_since_recent_revol_delinq,mths_since_recent_revol_delinq,100.000000
num_accts_ever_120_pd,num_accts_ever_120_pd,100.000000
num_actv_bc_tl,num_actv_bc_tl,100.000000
num_actv_rev_tl,num_actv_rev_tl,100.000000
mort_acc,mort_acc,100.000000
num_bc_tl,num_bc_tl,100.000000
num_tl_op_past_12m,num_tl_op_past_12m,100.000000
num_op_rev_tl,num_op_rev_tl,100.000000
num_rev_accts,num_rev_accts,100.000000
num_rev_tl_bal_gt_0,num_rev_tl_bal_gt_0,100.000000
num_sats,num_sats,100.000000
num_tl_120dpd_2m,num_tl_120dpd_2m,100.000000
num_tl_30dpd,num_tl_30dpd,100.000000
num_tl_90g_dpd_24m,num_tl_90g_dpd_24m,100.000000
pct_tl_nvr_dlq,pct_tl_nvr_dlq,100.000000
percent_bc_gt_75,percent_bc_gt_75,100.000000
tot_hi_cred_lim,tot_hi_cred_lim,100.000000
total_bal_ex_mort,total_bal_ex_mort,100.000000
mo_sin_rcnt_tl,mo_sin_rcnt_tl,100.000000
num_il_tl,num_il_tl,100.000000
mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_rev_tl_op,100.000000
verification_status_joint,verification_status_joint,100.000000
mo_sin_old_il_acct,mo_sin_old_il_acct,100.000000
mths_since_last_major_derog,mths_since_last_major_derog,100.000000
annual_inc_joint,annual_inc_joint,100.000000
dti_joint,dti_joint,100.000000
total_bc_limit,total_bc_limit,100.000000
tot_coll_amt,tot_coll_amt,100.000000
tot_cur_bal,tot_cur_bal,100.000000
open_acc_6m,open_acc_6m,100.000000
open_il_6m,open_il_6m,100.000000
open_il_12m,open_il_12m,100.000000
open_il_24m,open_il_24m,100.000000
mths_since_rcnt_il,mths_since_rcnt_il,100.000000
total_bal_il,total_bal_il,100.000000
il_util,il_util,100.000000
open_rv_12m,open_rv_12m,100.000000
open_rv_24m,open_rv_24m,100.000000
max_bal_bc,max_bal_bc,100.000000
all_util,all_util,100.000000
total_rev_hi_lim,total_rev_hi_lim,100.000000
inq_fi,inq_fi,100.000000
total_cu_tl,total_cu_tl,100.000000
inq_last_12m,inq_last_12m,100.000000
acc_open_past_24mths,acc_open_past_24mths,100.000000
avg_cur_bal,avg_cur_bal,100.000000
bc_open_to_buy,bc_open_to_buy,100.000000
bc_util,bc_util,100.000000
mo_sin_old_rev_tl_op,mo_sin_old_rev_tl_op,100.000000
total_il_high_credit_limit,total_il_high_credit_limit,100.000000

In [195]:
not_null_columns = missing_value_df[percent_missing > 50]['column_name']

<ipython-input-195-f0aeb9ea09e9>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  not_null_columns = missing_value_df[percent_missing > 50]['column_name']

In [196]:
not_null_columns.head(100)

mths_since_last_delinq                    mths_since_last_delinq
mths_since_last_record                    mths_since_last_record
next_pymnt_d                                        next_pymnt_d
num_bc_sats                                          num_bc_sats
mths_since_recent_bc                        mths_since_recent_bc
mths_since_recent_bc_dlq                mths_since_recent_bc_dlq
mths_since_recent_inq                      mths_since_recent_inq
mths_since_recent_revol_delinq    mths_since_recent_revol_delinq
num_accts_ever_120_pd                      num_accts_ever_120_pd
num_actv_bc_tl                                    num_actv_bc_tl
num_actv_rev_tl                                  num_actv_rev_tl
mort_acc                                                mort_acc
num_bc_tl                                              num_bc_tl
num_tl_op_past_12m                            num_tl_op_past_12m
num_op_rev_tl                                      num_op_rev_tl
num_rev_accts                                      num_rev_accts
num_rev_tl_bal_gt_0                          num_rev_tl_bal_gt_0
num_sats                                                num_sats
num_tl_120dpd_2m                                num_tl_120dpd_2m
num_tl_30dpd                                        num_tl_30dpd
num_tl_90g_dpd_24m                            num_tl_90g_dpd_24m
pct_tl_nvr_dlq                                    pct_tl_nvr_dlq
percent_bc_gt_75                                percent_bc_gt_75
tot_hi_cred_lim                                  tot_hi_cred_lim
total_bal_ex_mort                              total_bal_ex_mort
mo_sin_rcnt_tl                                    mo_sin_rcnt_tl
num_il_tl                                              num_il_tl
mo_sin_rcnt_rev_tl_op                      mo_sin_rcnt_rev_tl_op
verification_status_joint              verification_status_joint
mo_sin_old_il_acct                            mo_sin_old_il_acct
mths_since_last_major_derog          mths_since_last_major_derog
annual_inc_joint                                annual_inc_joint
dti_joint                                              dti_joint
total_bc_limit                                    total_bc_limit
tot_coll_amt                                        tot_coll_amt
tot_cur_bal                                          tot_cur_bal
open_acc_6m                                          open_acc_6m
open_il_6m                                            open_il_6m
open_il_12m                                          open_il_12m
open_il_24m                                          open_il_24m
mths_since_rcnt_il                            mths_since_rcnt_il
total_bal_il                                        total_bal_il
il_util                                                  il_util
open_rv_12m                                          open_rv_12m
open_rv_24m                                          open_rv_24m
max_bal_bc                                            max_bal_bc
all_util                                                all_util
total_rev_hi_lim                                total_rev_hi_lim
inq_fi                                                    inq_fi
total_cu_tl                                          total_cu_tl
inq_last_12m                                        inq_last_12m
acc_open_past_24mths                        acc_open_past_24mths
avg_cur_bal                                          avg_cur_bal
bc_open_to_buy                                    bc_open_to_buy
bc_util                                                  bc_util
mo_sin_old_rev_tl_op                        mo_sin_old_rev_tl_op
total_il_high_credit_limit            total_il_high_credit_limit
Name: column_name, dtype: object

In [197]:
not_null_df = df.drop(not_null_columns, axis=1)

In [198]:
not_null_df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,37258,38642,39717,39717,39717,39717,39717,39717,39717,26777,39717,39706,39717,39717,39717,39717,39717,39717,39717,39717,39717,39667,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,39646,39717,39715,39661,39717,39717,39717,39661,39717,39020,39678
unique,39717,39717,885,1041,8205,2,371,15383,7,35,28820,11,5,5318,3,55,3,1,39717,26527,14,19615,823,50,2868,11,526,9,40,5,21711,1089,82,1,1137,1138,37850,37518,7976,35148,1356,4040,2616,101,34930,106,1,1,1,1,1,1,3,1
top,1077501,1296599,10000,10000,5000,36 months,10.99%,311.11,B,B3,US Army,10+ years,RENT,60000,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,,debt_consolidation,Debt Consolidation,100xx,CA,0,0,Nov-98,0,7,0,0,0%,16,f,0,0,11196.56943,0,10000,0,0,0,0,May-16,0,May-16,0,1,INDIVIDUAL,0,0,0,0,0
freq,1,1,2833,2741,1309,29096,956,68,12020,2917,134,8879,18899,1505,16921,2260,32950,39717,1,210,18641,2184,597,7099,183,35405,370,19300,4018,37601,994,977,1471,39717,38577,38577,26,165,2293,71,37671,35499,35935,1256,74,10308,39661,39717,39717,39717,39661,39717,37339,39678

In [199]:
df_unique = not_null_df.nunique().to_frame().reset_index()
df_unique.columns = ['Variable','DistinctCount']

In [200]:
df_unique.head(100)

                      Variable  DistinctCount
0                           id          39717
1                    member_id          39717
2                    loan_amnt            885
3                  funded_amnt           1041
4              funded_amnt_inv           8205
5                         term              2
6                     int_rate            371
7                  installment          15383
8                        grade              7
9                    sub_grade             35
10                   emp_title          28820
11                  emp_length             11
12              home_ownership              5
13                  annual_inc           5318
14         verification_status              3
15                     issue_d             55
16                 loan_status              3
17                  pymnt_plan              1
18                         url          39717
19                        desc          26527
20                     purpose             14
21                       title          19615
22                    zip_code            823
23                  addr_state             50
24                         dti           2868
25                 delinq_2yrs             11
26            earliest_cr_line            526
27              inq_last_6mths              9
28                    open_acc             40
29                     pub_rec              5
30                   revol_bal          21711
31                  revol_util           1089
32                   total_acc             82
33         initial_list_status              1
34                   out_prncp           1137
35               out_prncp_inv           1138
36                 total_pymnt          37850
37             total_pymnt_inv          37518
38             total_rec_prncp           7976
39               total_rec_int          35148
40          total_rec_late_fee           1356
41                  recoveries           4040
42     collection_recovery_fee           2616
43                last_pymnt_d            101
44             last_pymnt_amnt          34930
45          last_credit_pull_d            106
46  collections_12_mths_ex_med              1
47                 policy_code              1
48            application_type              1
49              acc_now_delinq              1
50    chargeoff_within_12_mths              1
51                 delinq_amnt              1
52        pub_rec_bankruptcies              3
53                   tax_liens              1

In [201]:
single_value_columns = df_unique[df_unique['DistinctCount'] < 2]['Variable']

In [202]:
single_value_columns.head(100)

17                    pymnt_plan
33           initial_list_status
46    collections_12_mths_ex_med
47                   policy_code
48              application_type
49                acc_now_delinq
50      chargeoff_within_12_mths
51                   delinq_amnt
53                     tax_liens
Name: Variable, dtype: object

In [203]:
unique_df = not_null_df.drop(single_value_columns, axis=1)

In [204]:
pd.set_option('display.max_columns', None)
unique_df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
count,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,37258,38642,39717,39717,39717,39717,39717,39717,26777,39717,39706,39717,39717,39717,39717,39717,39717,39717,39717,39717,39667,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,39646,39717,39715,39020
unique,39717,39717,885,1041,8205,2,371,15383,7,35,28820,11,5,5318,3,55,3,39717,26527,14,19615,823,50,2868,11,526,9,40,5,21711,1089,82,1137,1138,37850,37518,7976,35148,1356,4040,2616,101,34930,106,3
top,1077501,1296599,10000,10000,5000,36 months,10.99%,311.11,B,B3,US Army,10+ years,RENT,60000,Not Verified,Dec-11,Fully Paid,https://lendingclub.com/browse/loanDetail.acti...,,debt_consolidation,Debt Consolidation,100xx,CA,0,0,Nov-98,0,7,0,0,0%,16,0,0,11196.56943,0,10000,0,0,0,0,May-16,0,May-16,0
freq,1,1,2833,2741,1309,29096,956,68,12020,2917,134,8879,18899,1505,16921,2260,32950,1,210,18641,2184,597,7099,183,35405,370,19300,4018,37601,994,977,1471,38577,38577,26,165,2293,71,37671,35499,35935,1256,74,10308,37339

In [205]:
unique_df.shape

(39717, 45)

In [206]:
all_unique_columns = ['id', 'member_id', 'url', 'desc']
clean_df = unique_df.drop(all_unique_columns, axis=1)

In [207]:
clean_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
count,39717,39717,39717,39717,39717,39717,39717,39717,37258,38642,39717,39717,39717,39717,39717,39717,39706,39717,39717,39717,39717,39717,39717,39717,39717,39717,39667,39717,39717,39717,39717,39717,39717,39717,39717,39717,39717,39646,39717,39715,39020
unique,885,1041,8205,2,371,15383,7,35,28820,11,5,5318,3,55,3,14,19615,823,50,2868,11,526,9,40,5,21711,1089,82,1137,1138,37850,37518,7976,35148,1356,4040,2616,101,34930,106,3
top,10000,10000,5000,36 months,10.99%,311.11,B,B3,US Army,10+ years,RENT,60000,Not Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation,100xx,CA,0,0,Nov-98,0,7,0,0,0%,16,0,0,11196.56943,0,10000,0,0,0,0,May-16,0,May-16,0
freq,2833,2741,1309,29096,956,68,12020,2917,134,8879,18899,1505,16921,2260,32950,18641,2184,597,7099,183,35405,370,19300,4018,37601,994,977,1471,38577,38577,26,165,2293,71,37671,35499,35935,1256,74,10308,37339

In [208]:
clean_df.shape

(39717, 41)

In [209]:
clean_df['term'] = clean_df['term'].str.rstrip('months')
clean_df['int_rate'] = clean_df['int_rate'].str.rstrip('%')
clean_df['emp_length'] = clean_df['emp_length'].str.rstrip('years ')
clean_df['emp_length'].replace({'10+': '10'}, inplace=True)
clean_df['emp_length'][clean_df['emp_length'] == '< 1'] = '0.5'
clean_df['revol_util'] = clean_df['revol_util'].str.rstrip('%')
clean_df['issue_month'], clean_df['issue_year'] = clean_df[
    'issue_d'].str.split('-').str
clean_df['last_credit_pull_month'], clean_df['last_credit_pull_year'] = clean_df[
    'last_credit_pull_d'].str.split('-').str
clean_df['last_payment_month'], clean_df['last_payment_year'] = clean_df[
    'last_pymnt_d'].str.split('-').str
clean_df['earliest_cr_line_month'], clean_df['earliest_cr_line_year'] = clean_df[
    'earliest_cr_line'].str.split('-').str

del clean_df['issue_d']
del clean_df['last_credit_pull_d']
del clean_df['last_pymnt_d']
del clean_df['earliest_cr_line']

<ipython-input-209-9885eccd81e5>:7: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  clean_df['issue_month'], clean_df['issue_year'] = clean_df[
<ipython-input-209-9885eccd81e5>:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  clean_df['last_credit_pull_month'], clean_df['last_credit_pull_year'] = clean_df[
<ipython-input-209-9885eccd81e5>:11: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  clean_df['last_payment_month'], clean_df['last_payment_year'] = clean_df[
<ipython-input-209-9885eccd81e5>:13: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  clean_df['earliest_cr_line_month'], clean_df['earliest_cr_line_year'] = clean_df[

In [210]:
clean_df.shape

(39717, 45)

In [211]:
converted_df = clean_df.apply(pd.to_numeric, errors='ignore')
converted_df.convert_dtypes()
converted_df.dtypes

loan_amnt                    int64
funded_amnt                  int64
funded_amnt_inv            float64
term                         int64
int_rate                   float64
installment                float64
grade                       object
sub_grade                   object
emp_title                   object
emp_length                 float64
home_ownership              object
annual_inc                 float64
verification_status         object
loan_status                 object
purpose                     object
title                       object
zip_code                    object
addr_state                  object
dti                        float64
delinq_2yrs                  int64
inq_last_6mths               int64
open_acc                     int64
pub_rec                      int64
revol_bal                    int64
revol_util                 float64
total_acc                    int64
out_prncp                  float64
out_prncp_inv              float64
total_pymnt                float64
total_pymnt_inv            float64
total_rec_prncp            float64
total_rec_int              float64
total_rec_late_fee         float64
recoveries                 float64
collection_recovery_fee    float64
last_pymnt_amnt            float64
pub_rec_bankruptcies       float64
issue_month                 object
issue_year                   int64
last_credit_pull_month      object
last_credit_pull_year      float64
last_payment_month          object
last_payment_year          float64
earliest_cr_line_month      object
earliest_cr_line_year        int64
dtype: object

In [212]:
numerical_columns = converted_df.select_dtypes(include=np.number).columns.tolist()
categorical_columns = converted_df.select_dtypes(exclude=np.number).columns.tolist()
print(numerical_columns)
print(categorical_columns)

['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'emp_length', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'pub_rec_bankruptcies', 'issue_year', 'last_credit_pull_year', 'last_payment_year', 'earliest_cr_line_year']
['grade', 'sub_grade', 'emp_title', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'title', 'zip_code', 'addr_state', 'issue_month', 'last_credit_pull_month', 'last_payment_month', 'earliest_cr_line_month']